Repository EcoByte-Ecocycle/Ecocycle, pull requests merged in 2023-05, with the labels that each got.

#10 [BE] Oauth 2.0 로그인 기능 구현
  Backend/.gitignore
  Backend/build.gradle
  Backend/src/main/java/com/ecobyte/ecocycle/application/auth/AuthService.java
  Backend/src/main/java/com/ecobyte/ecocycle/application/auth/JwtTokenProvider.java
  Backend/src/main/java/com/ecobyte/ecocycle/config/RestTemplateConfig.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/user/Role.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/user/User.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/user/UserRepository.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/ErrorResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/GoogleProfileResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/GoogleTokenResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/LoginResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/auth/ExpiredTokenException.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/auth/GoogleOAuthFailureException.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/auth/InvalidTokenException.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/auth/TokenException.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/AuthController.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/ControllerAdvice.java
  Backend/src/main/java/com/ecobyte/ecocycle/support/GoogleClient.java
  Backend/src/main/resources/application.yml
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/LoginAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/application/auth/AuthServiceTest.java
Labels: feature, backend

#13 [BE] 사용자 메인 화면 출력 기능
  Backend/src/main/java/com/ecobyte/ecocycle/application/UserService.java
  Backend/src/main/java/com/ecobyte/ecocycle/config/AuthWebConfig.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/MainPageResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/UserNotFoundException.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/ControllerAdvice.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/UserController.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/AuthController.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/Authorization.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/AuthorizationExtractor.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/AuthorizationPrincipal.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/LoginArgumentResolver.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/LoginInterceptor.java
  Backend/src/main/resources/application.yml
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/UserAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/application/UserServiceTest.java
Labels: feature, backend

#24 [BE] 관리자 아이디 자동화 구현
  Backend/src/main/java/com/ecobyte/ecocycle/ApplicationStartupRunner.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/AuthController.java
Labels: feature, backend

#27 [BE] 관리자 인가 기능
  Backend/src/main/java/com/ecobyte/ecocycle/ApplicationStartupRunner.java
  Backend/src/main/java/com/ecobyte/ecocycle/application/auth/AdminAspect.java
  Backend/src/main/java/com/ecobyte/ecocycle/application/auth/AdminAuthorization.java
  Backend/src/main/java/com/ecobyte/ecocycle/application/auth/AuthService.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/user/User.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/auth/AdminAuthorizationException.java
  Backend/src/test/java/com/ecobyte/ecocycle/application/auth/AuthServiceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/domain/user/UserTest.java
Labels: feature, backend, refactor

#32 [BE] 로그인 API 수정
  Backend/src/main/java/com/ecobyte/ecocycle/config/RestTemplateConfig.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/AuthController.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/LoginAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/UserAcceptanceTest.java
Labels: feature, backend

#35 [BE] 제품 추가 기능
  Backend/build.gradle
  Backend/src/main/java/com/ecobyte/ecocycle/application/RecyclingProductService.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/product/RecyclingProduct.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/product/RecyclingProductRepository.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/request/RecyclingProductRequest.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/RecyclingProductResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/ControllerAdvice.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/RecyclingProductController.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/AcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/LoginAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/RecyclingProductAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/UserAcceptanceTest.java
Labels: feature, backend

#36 [BE] 관리자 권한 버그 수정
  Backend/src/main/java/com/ecobyte/ecocycle/application/auth/AdminAspect.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/ControllerAdvice.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/AcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/RecyclingProductAcceptanceTest.java
Labels: bug, backend

#38 [BE] api 명세 변경
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/RecyclingProductController.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/UserController.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/auth/AuthController.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/AcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/LoginAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/RecyclingProductAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/UserAcceptanceTest.java
Labels: backend, refactor

#29 [FE] 구글 로그인 구현
  Frontend/.gitignore
  Frontend/front/.gitignore
  Frontend/front/README.md
  Frontend/front/package-lock.json
  Frontend/front/package.json
  Frontend/front/public/assets/admin.png
  Frontend/front/public/assets/camerBtn.png
  Frontend/front/public/assets/copyright.png
  Frontend/front/public/assets/copyright2.png
  Frontend/front/public/assets/logo.png
  Frontend/front/public/assets/logo2.png
  Frontend/front/public/assets/menuBtn.png
  Frontend/front/public/assets/report.png
  Frontend/front/public/assets/stampBtn.png
  Frontend/front/public/assets/userTree.png
  Frontend/front/public/favicon.ico
  Frontend/front/public/index.html
  Frontend/front/public/logo192.png
  Frontend/front/public/logo512.png
  Frontend/front/public/manifest.json
  Frontend/front/public/robots.txt
  Frontend/front/src/App.js
  Frontend/front/src/App.test.js
  Frontend/front/src/hooks/MakeMain.js
  Frontend/front/src/hooks/UseGoogle.js
  Frontend/front/src/index.css
  Frontend/front/src/index.js
  Frontend/front/src/pages/login.jsx
  Frontend/front/src/pages/main.jsx
  Frontend/front/src/pages/mypage.jsx
  Frontend/front/src/pages/report.jsx
  Frontend/front/src/reportWebVitals.js
  Frontend/front/src/setupTests.js
  Frontend/front/src/styles/App.css
  Frontend/front/src/styles/reset.css
  Frontend/login.html
  Frontend/package-lock.json
  Frontend/package.json
Labels: feature, frontend

#47 [BE] 로깅 전략 구현
  Backend/.gitignore
  Backend/build.gradle
  Backend/src/main/java/com/ecobyte/logging/LoggingFilter.java
  Backend/src/main/java/com/ecobyte/logging/MaskingPatternLayout.java
  Backend/src/main/java/com/ecobyte/logging/QueryCountInspector.java
  Backend/src/main/resources/application.yml
  Backend/src/main/resources/logback-spring.xml
  Backend/src/main/resources/logback/console-appender.xml
  Backend/src/main/resources/logback/file-error-appender.xml
  Backend/src/main/resources/logback/file-info-appender.xml
  Backend/src/main/resources/logback/file-slow-sql-appender.xml
Labels: feature, backend, chore

#63 [BE] 테스트 격리 개선
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/AcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/support/DatabaseCleanUp.java
Labels: backend, refactor

#64 [FE] 서버 URL 환경변수 추가
  Frontend/front/src/api/apis.js
  Frontend/front/src/hooks/SendPhoto.js
  Frontend/front/src/hooks/UseGoogle.js
  Frontend/front/src/modals/productInfo.jsx
Labels: frontend, chore

#70 [BE] Daily Quiz 내기 기능 구현
  Backend/src/main/java/com/ecobyte/ecocycle/application/QuizService.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/quiz/DailyQuiz.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/quiz/DailyQuizRepository.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/quiz/QuizRepository.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/AlreadyExistedDailyQuizException.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/NoQuizException.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/auth/TokenException.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/ControllerAdvice.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/QuizController.java
  Backend/src/main/java/com/ecobyte/logging/MaskingPatternLayout.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/QuizAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/application/QuizServiceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/domain/quiz/DailyQuizRepositoryTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/domain/quiz/QuizRepositoryTest.java
Labels: feature, backend

#71 [BE] MainPage를 위한 dailyQuiz 응답 로직 수정
  Backend/src/main/java/com/ecobyte/ecocycle/application/UserService.java
Labels: backend, refactor

#73 [BE] 데일리 퀴즈 정답 여부를 기록하는 기능 구현
  Backend/src/main/java/com/ecobyte/ecocycle/application/QuizService.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/quiz/DailyQuiz.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/quiz/DailyQuizRepository.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/user/User.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/request/DailyQuizAnswerRequest.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/DailyQuizNotFoundException.java
  Backend/src/main/java/com/ecobyte/ecocycle/exception/DailyQuizOwnedException.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/ControllerAdvice.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/QuizController.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/AcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/QuizAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/application/QuizServiceTest.java
Labels: feature, backend

#74 [BE] Daily Quiz 내기 API 명세 변동
  Backend/src/main/java/com/ecobyte/ecocycle/application/QuizService.java
  Backend/src/main/java/com/ecobyte/ecocycle/dto/response/DailyQuizResponse.java
  Backend/src/main/java/com/ecobyte/ecocycle/presentation/QuizController.java
  Backend/src/test/java/com/ecobyte/ecocycle/acceptance/QuizAcceptanceTest.java
  Backend/src/test/java/com/ecobyte/ecocycle/application/QuizServiceTest.java
Labels: backend, refactor

#75 [FE] 제품 설명 받아오기
  Frontend/front/src/api/apis.js
  Frontend/front/src/modals/productInfo.jsx
  Frontend/front/src/pages/addProduct.jsx
  Frontend/front/src/pages/main.jsx
  Frontend/front/src/pages/report.jsx
  Frontend/front/src/styles/App.css
Labels: feature, frontend
