Repository EcoByte-Ecocycle/Ecocycle, pull requests merged in 2023-06, with the labels that each got.

#86 [FE] App.css 변경사항 적용
  Frontend/front/src/styles/App.css
Labels: frontend, refactor

#89 [FE] 로딩 창 구현
  Frontend/front/public/assets/spinner.gif
  Frontend/front/src/Loading.jsx
  Frontend/front/src/styles/App.css
Labels: feature, frontend

#97 [BE] 로깅 필터 적용
  Backend/src/main/java/com/ecobyte/ApplicationStartupRunner.java
  Backend/src/main/java/com/ecobyte/EcoCycleApplication.java
  Backend/src/main/java/com/ecobyte/ecocycle/config/HibernateConfig.java
  Backend/src/main/resources/logback-spring.xml
  Backend/src/test/java/com/ecobyte/logging/QueryCountInspectorTest.java
Labels: backend, refactor

#99 [FE] 로그인과 퀴즈 사이에 동기 처리
  Frontend/front/src/pages/main.jsx
Labels: frontend, refactor

#102 [FE] 마이페이지 구현
  Frontend/front/public/assets/arrow.png
  Frontend/front/public/assets/gradeSeed.PNG
  Frontend/front/public/assets/gradeSeedling.PNG
  Frontend/front/public/assets/gradeSprout.PNG
  Frontend/front/public/assets/gradeTree.PNG
  Frontend/front/public/assets/myGrade.png
  Frontend/front/public/assets/stamp0.PNG
  Frontend/front/public/assets/stamp1.PNG
  Frontend/front/public/assets/stamp2.PNG
  Frontend/front/public/assets/stamp3.PNG
  Frontend/front/public/assets/stamp4.PNG
  Frontend/front/public/assets/stamp5.PNG
  Frontend/front/public/assets/stamp6.PNG
  Frontend/front/public/assets/stamp7.PNG
  Frontend/front/public/assets/stamp8.PNG
  Frontend/front/public/assets/stamp9.PNG
  Frontend/front/src/App.js
  Frontend/front/src/pages/mypage.jsx
  Frontend/front/src/styles/App.css
Labels: feature, frontend

#103 [BE] 에러 케이스 처리
  Backend/src/main/java/com/ecobyte/ecocycle/application/QuizService.java
  Backend/src/main/java/com/ecobyte/ecocycle/application/ReportService.java
  Backend/src/main/java/com/ecobyte/ecocycle/domain/quiz/DailyQuiz.java
  Backend/src/main/java/com/ecobyte/ecocycle/support/DataClassificationClient.java
Labels: bug, backend
